<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ef909d">  <td>18/06/21 18:09:19</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;ClickHomeNode.beforeTest()[pri:0, instance:com.archivesmart.Testcase.ClickHomeNode@76b0bfab]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2070529722</td>   <td></td> </tr>
<tr bgcolor="ef909d">  <td>18/06/21 18:09:48</td>   <td>29222</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ClickHomeNode.clickNode()[pri:0, instance:com.archivesmart.Testcase.ClickHomeNode@76b0bfab]">clickNode</td> 
  <td>main@2070529722</td>   <td></td> </tr>
</table>
